@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 1280px;
}
.navbar{
    background-color: #1C1E53;
}
.logo img{
    max-width: 158px;
    margin: 10px 0 20px;
}
.list-item{
    color: #BBBBCB;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    transition: 0.4s ease;
}
.list-item:hover{
    color: #FFF;
}
.list-item.active{
    color: #FFF;
}
.btn.contact_us{
    color: #0C0B0B;
    background-color: #FCD980;
    border-radius: 41px;
    height: 60px;
    max-width: 185px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    transition: 0.4s ease;
}
.btn_2{
    color: #1C1E53;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    transition: 0.4s ease;
}
.btn.contact_us:hover{
    background-color: #fcd46f;
    transform: scale(1.08)
}
.hero-section{
    background-image: url(../images/green-sofa-white-living-room-with-free-space\ 1.png);
    min-height: 750px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}
.hero-content{
    margin-top: 120px;
}
.hero-content h1{
    color: #1C1E53;
    font-size: 54px;
    font-weight: 600;
    line-height: 74px;
    letter-spacing: 0em;
    text-align: left;
}
.hero-content p{
    color: #5B5C81;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 60px;
}
.work_section_point p{
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #656773;
    margin: 0;
}
.work_section_point h1{
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 10px;
}
.slider_content{
    padding: 50px 50px 75px;
}
.slider_content h1{
    color:#FFF;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    margin-bottom: 21px;
}
.slider_content p{
    color:#DDDFE7;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    margin-bottom: 7px;
}
.hedding_2{
    color: #282938;
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
}
.heading_3{
    color:#282938;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
    padding: 0 90px;
    margin-bottom: 35px;
}

.card h5{
    color: #282938;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
}
.card_heading{
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    margin-top: 30px;
}
.card p{
    color: #696974;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 0;
}
.heading_4{
    color: #282938;
    font-size: 38px;
    font-weight: 600;
    line-height: 56px;
    margin-top: 50px;
}
.avatar h5{
    color: #282938;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
}

.carousel-item p{
    color: #282938;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
}

.avatar p{
    color: #282938;
    font-size: 12px;
    font-weight: 500;
    line-height: unset;
}
.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 85%;
    bottom: auto;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 0;
    color: #7e7e7e;
    text-align: center;
    background: unset;
    border-radius: 50%;
    border: 0;
    opacity: 0.5;
    transition: opacity .15s ease;
}
.carousel-control-next i, .carousel-control-prev i{
    font-size: 28px;
    padding-top: 5px;
}
.carousel-control-next {
    right: 0;
}
.carousel-control-prev {
    left: unset;
    right: 70px;
}

.carousel-control-next-icon {
    background-image: none;
}
.carousel-control-prev-icon {
    background-image: none;
}
.carousel-control-next:focus, .carousel-control-next:hover, .carousel-control-prev:focus, .carousel-control-prev:hover, .carousel-control-next.active {
    color: #fff;
    background-color: #2405F2;
    text-decoration: none;
    outline: 0;
    opacity: .9;
}

.cta_left,
.cta_right{
    flex-basis: 50%;
    padding: 95px;
    padding-bottom: 80px;
}

.cta_left h1{
    color: #FFF;
    font-size: 52px;
    font-weight: 600;
    line-height: 70px;
    margin-bottom: 30px;
}
.cta_left p,
.cta_right p{
    color: #FFF;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
}
.cta_right h3{
    color: #FFF;
    font-size: 32px;
    font-weight: 500;
    line-height: 48px;
}
.cta_right .form-control{
    padding: 18px 32px;
    border-radius: 8px;
    background-color: transparent;
    color: #F4F6FC;
    border-color: #888AA7;
    font-weight: 300;
}
.cta_right .form-control::placeholder{
    color: #888AA7;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
}
.btn.form-control{
    border-radius: 41px;
    color: #000000;
    font-weight: 500;
    font-size: 18px;
    background-color: #FCD980 !important;
}
.accordion{
    border: 0px solid ;
}


.accordion-item{
    border: none;
    border-top: 2px solid #ECECF1 !important;
}
.accordion-item:first-child{
    border: none;
    border-top: none !important;
}
.accordion-item:first-of-type .accordion-button{
    border-radius: 0;
}
.accordion-button:not(.collapsed){
    background-color: unset;
    border: none;
    box-shadow: none;
}
button.accordion-button {
    padding: 10px;
}
.accordion-button:focus{
    box-shadow: none;
}

.accordion-button:not(.collapsed)::after {
    background-image: url(../images/+.png);
    transform: var(--bs-accordion-btn-icon-transform);
}
.accordion-button::after {
    flex-shrink: 0;
    width: var(--bs-accordion-btn-icon-width);
    height: var(--bs-accordion-btn-icon-width);
    margin-left: auto;
    content: "";
    background-image: url(../images/+.png);;
    background-repeat: no-repeat;
    background-size: auto;
    transition: var(--bs-accordion-btn-icon-transition);
}

footer .logo img {
    max-width: 270px;
    margin:0 0 35px;
}
.w-85{
    width: 85%;
}
h5.contact_label{
    color: #090808;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 20px;
    margin: 0;
}
a.contact_link{
    color: #090808;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
}
.footer_des{
    color: #F4F6FC;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}
.heading_5{
    font-size: 54px;
    font-weight: 600;
    line-height: 71px;
    letter-spacing: -0.02em;
    text-align: left;
}
.aboutUs_top p{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: justify;
    max-width: 690px;
    margin-bottom: 0;
}
.aboutUs_top{
    margin-top: 90px;
    margin-bottom: 135px;
}
.who_we_are{
    margin-bottom: 50px;
}
.number::after {
    content: '+';
}
.number{
    font-size: 38px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: left;
}